<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Registration</title>
     <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#id_dob").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'yy-mm-dd', // Format for the date
                yearRange: "1900:2100" // Range of years
            });
        });
    </script>
    <script>
        function showPopup() {
            var popup = document.getElementById("popup");
            popup.style.display = "block";
        }

        function closePopup() {
            var popup = document.getElementById("popup");
            popup.style.display = "none";
            window.location.href = "{% url 'homepage' %}";
        }
    </script>
    <style>
        #popup {
            display: none;
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #000;
            padding: 10px;
            background-color: #fff;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <h1>Doctor Registration</h1>
    <form method="post" action="{% url 'doctor_reg' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.title.label_tag }} {{ form.title }}
        </div>
        <div>
            {{ form.firstname.label_tag }} {{ form.firstname }}
        </div>
        <div>
            {{ form.lastname.label_tag }} {{ form.lastname }}
        </div>
        <div>
            {{ form.dob.label_tag }} {{ form.dob }}
        </div>
        <div>
            {{ form.specialty.label_tag }} {{ form.specialty }}
        </div>
        <div>
            {{ form.phone_number.label_tag }} {{ form.phone_number }}
        </div>
        <div>
            {{ form.email.label_tag }} {{ form.email }}
        </div>
        <div>
            {{ form.password.label_tag }} {{ form.password }}
        </div>
        <div>
            {{ form.confirm_password.label_tag }} {{ form.confirm_password }}
        </div>
        <button type="submit">Signup</button>
    </form>

    <div id="popup">
        <p>Signup successful!</p>
        <button onclick="closePopup()">OK</button>
    </div>
</body>
</html>
